<script id="script_tag">
    map.setView([{{mission.start.latitude}}, {{mission.start.longitude}}], 13);
    markerGroup.clearLayers();
    {% for result in mission.results %}
    var marker = L.marker(
        [{{result.coordinate.latitude}}, {{result.coordinate.longitude}}],
    );
    var content = `
    <p class="text-sm font-medium">
        Latitud: {{result.coordinate.latitude}}<br/>
        Longitud: {{result.coordinate.longitude}}<br/>
        {% for seg_class, dist in result.distribution.items() %}
        Porcentaje de {{seg_class.name}}: {{dist}}%<br/>
        {% endfor %}
    </p>
    <div class="image-container cursor-pointer" @click="modal_open = true ; updateSrc()">
        <img 
            src="/image/{{mission.foldername}}/{{result.image}}"
            alt="Imagen RGB"
            class="back-img"
        >
        <img
            src="/image/{{mission.foldername}}/{{result.mask}}" 
            alt="Máscara"
            class="front-img"
        >
    </div>
    `
    marker.bindPopup(content);
    markerGroup.addLayer(marker);
    {% endfor %}
</script>
