<script id="script_tag">
    map.setView([{{mission.start.latitude}}, {{mission.start.longitude}}], 13);
    markerGroup.clearLayers();
    {% for result in mission.results %}
    var marker = L.marker([{{result.coordinate.latitude}}, {{result.coordinate.longitude}}]);
    var content = `
    <p class="text-sm font-medium">
        Latitud: {{result.coordinate.latitude}}<br/>
        Longitud: {{result.coordinate.longitude}}<br/>
        Porcentaje de agua: {{result.distribution["1"]}}%<br/>
        Porcentaje de suelo expuesto: {{result.distribution["2"]}}%<br/>
        Porcentaje de vegetación seca: {{result.distribution["3"]}}%<br/>
        Porcentaje de vegetación verde: {{result.distribution["4"]}}%<br/>
    </p>
    <div class="image-container">
        <img 
            src="/image/{{mission.foldername}}/{{result.image}}"
            alt="Imagen RGB"
            class="back-img"
        >
        <img
            src="/image/{{mission.foldername}}/{{result.mask}}" 
            alt="Máscara"
            class="front-img"
        >
    </div>
    `
    marker.bindPopup(content);
    markerGroup.addLayer(marker);
    {% endfor %}
</script>
